/* .container{
    margin: 20px auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px 30px;

    background-color: rgb(193, 191, 186);
    border-radius: 10px;
  }
  .elements{
   
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(30, 203, 84);
    border-radius: 6px;
    color: rgb(41, 42, 43);
 } */

 /* .container{
    margin: 20px auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px 30px;

    background-color: rgb(193, 191, 186);
    border-radius: 10px;
  }
  .elements{

    padding: 10px 20px;
    text-align: center;
    background-color: rgb(30, 203, 84);
    border-radius: 6px;
    color: rgb(41, 42, 43);
  }  */

 .container{
    margin: 20px auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px 30px;

    background-color: rgb(193, 191, 186);
    border-radius: 10px;
  }
  .elements{

    padding: 10px 20px;
    text-align: center;
    background-color: rgb(30, 203, 84);
    border-radius: 6px;
    color: rgb(41, 42, 43);
  }

  /* Mobile View */
  @media screen and (min-width:250px) and (max-width:500px) {
    .container{
      grid-template-columns: repeat(1,1fr);
    }
  }

   /* Tablet View */
   @media screen and (min-width:500px) and (max-width:800px) {
    .container{
      grid-template-columns: repeat(3,1fr);
    }
  }
   /* Laptop View */
   @media screen and (min-width:800px) and (max-width:1100px) {
    .container{
      grid-template-columns: repeat(4,1fr);
    }
  }
 





